# Ignora todo o ambiente virtual
backend/venv/

# Ignora arquivos de cache do Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignora banco de dados local (caso use SQLite em testes)
*.sqlite3
*.db

# Ignora configurações do VSCode ou editores
.vscode/
.idea/

# Ignora arquivos de log e temporários
*.log
*.tmp
*.swp

# Ignora arquivos do sistema operacional
.DS_Store
Thumbs.db

# Ignora arquivos de ambiente e secrets
.env
.env.*

# Ignora exportações e relatórios temporários
*.xlsx
*.csv
*.pdf
